RewriteEngine On

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L,QSA]

# Rewrite any other requests with a parameter or redirect to default when there is nothing after the domain
RewriteRule ^$ /default.php [L]
RewriteRule ^([^/]+)/?$ /?systemCode=$1 [L,QSA]