rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null; // Simplified for now. Ideally restrict writes.
    }
    
    match /store_logos/{storeId}/{fileName} {
      allow write: if request.auth != null && request.auth.token.role == 'merchant'; // Or check store ownership
      allow read: if true;
    }
  }
}
